#searchbar {
    width: 50vw;
    height: 50px;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 15px;
}

#results {
    margin-top: 10px;
}

.card {
    border-radius: 10px;
    width: calc((50vw) / 2);
    margin: 0;
    padding: 10px 15px;
}
    
.card .image {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}