@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&family=Quicksand:wght@300..700&display=swap');

:root {
    --bg-color: #050508;
    --bg-color-1: #0D0C12;
    --primary-color: #ab9fdc;
    --secondary-color: #2f1a88;
    --accent-color: #4017f1;
    --text-color: #e9e7ef;
    --text-secondary-color: #7b7a7e;
    --attention-color: #FF6B6B;
    --succes-color: #32D896;
    --font: 'Quicksand', sans-serif;
}