body {
    text-align: center;
    background-color: rgb(27, 31, 54);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: lightgray;
    margin: 0;
    padding: 0;
    width: 100vw;
    position: relative;
}

#login {
    padding: 12px 10px;
    box-sizing: border-box;
    right: 10px;
    top: 15px;
    background-color: #5865f2;
    color: #E0E3FF;
    border-radius: 5px;
    border: None;
    height: 40px;
    cursor: pointer;
    position: fixed;
    transition: 200ms;
}

#login:hover {
    background-color: hsl(235, 60%, 55%);
}

#content {
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 100px;
}

#search {
    width: 50%;
    height: 50px;
    border-radius: 6px;
    color: lightgray;
    border: 2px solid black;
    background-color: hsl(231, 43%, 27%);
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;
    box-sizing: border-box;
}

#search:placeholder-shown {
    font-weight: normal;
}

#search:focus {
    border: 3px solid black;
    outline: none;
}

#container {
    display: inline-flex;
    margin-top: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-radius: 10px;
    width: 200px;
    margin: 0 10px;
    border: 2px solid black;
    padding: 10px 15px;
    font-weight: bold;
}

.card .image {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}