@import url("properties.css");
@import url("portrait.css") screen and (orientation: portrait);
@import url("landscape.css") screen and (orientation: landscape);

body {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: lightgray;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
}   

#content {
    box-sizing: border-box;
    position: relative;
    margin: auto auto;
    transition: 1000ms;
    justify-content: center;
}

#searchbar {
    background-color: var(--bg-color-1);
    box-sizing: border-box;
    width: 100%;
    color: lightgray;
    /* box-shadow: 0 0 0 1px black; */
    font-weight: bold;
    border: none;
} #searchbar:placeholder-shown {
    font-weight: normal;
} #searchbar:focus {
    background-color: var(--secondary-color);
    /* box-shadow: 0 0 0 2px black; */
    outline: none;
}

#results {
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: center;
    transition: 1000ms;
    transition-delay: 1000ms;
    /* Wird von index.js manipuliert:*/
    display: none; /* display: grid; */
    opacity: 0%; /* opacity: 100%; */
}

.card {
    text-align: center;
    justify-content: center;
    background-color: var(--bg-color-1);
    font-weight: bold;
}

.card h2 {
    margin-top: 0;
}

.card p {
    overflow-wrap: anywhere;
}

.copy {
    padding: 12px 10px;
    box-sizing: border-box;
    background-color: hsl(231, 43%, 27%);
    color: #E0E3FF;
    border-radius: 5px;
    border: None;
    height: 40px;
    cursor: pointer;
    transition: 200ms;
    z-index: 1;
    margin-top: 10px;
}

.copy:hover {
    background-color: hsl(231, 33%, 37%);
}

#login {
    padding: 12px 10px;
    box-sizing: border-box;
    right: 10px;
    top: 15px;
    background-color: #5865f2;
    color: #E0E3FF;
    border-radius: 5px;
    border: None;
    height: 40px;
    cursor: pointer;
    position: fixed;
    transition: 200ms;
    z-index: 1;
    text-decoration: none;
}

#login:hover {
    background-color: hsl(235, 60%, 55%);
}

#topnav {
    top: 0 !important;
    width: 100%;
    border-bottom: 1px solid #cccee0;
    position: absolute;
    background-color: #1a1a23;
    display: flex;
}
#topnav .item {
    color: white;
    text-decoration: none;
    margin: 2rem;
    transition: 100ms;
}
#topnav .item:hover {
    text-decoration: underline;
    transform: scale(1.06);
}
.item-active {
    text-decoration: underline !important;
    color: #5865f2 !important;
}
#topnav img {
    margin-left: 1vw;
}